<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>integratedTest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CashBillAddServe</display-name>
    <servlet-name>CashBillAddServe</servlet-name>
    <servlet-class>master.servlet.CashBillAddServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CashBillAddServe</servlet-name>
    <url-pattern>/CashBillAddServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CashDelBidDateCheck</display-name>
    <servlet-name>CashDelBidDateCheck</servlet-name>
    <servlet-class>master.servlet.CashDelBidDateCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CashDelBidDateCheck</servlet-name>
    <url-pattern>/CashDelBidDateCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CashDeleteServe</display-name>
    <servlet-name>CashDeleteServe</servlet-name>
    <servlet-class>master.servlet.CashDeleteServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CashDeleteServe</servlet-name>
    <url-pattern>/CashDeleteServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CashOrderForm1CheckDAteBId</display-name>
    <servlet-name>CashOrderForm1CheckDAteBId</servlet-name>
    <servlet-class>master.servlet.CashOrderForm1CheckDAteBId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CashOrderForm1CheckDAteBId</servlet-name>
    <url-pattern>/CashOrderForm1CheckDAteBId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CashOrderForm2CheckRiceId</display-name>
    <servlet-name>CashOrderForm2CheckRiceId</servlet-name>
    <servlet-class>master.servlet.CashOrderForm2CheckRiceId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CashOrderForm2CheckRiceId</servlet-name>
    <url-pattern>/CashOrderForm2CheckRiceId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CashRiceAddServe</display-name>
    <servlet-name>CashRiceAddServe</servlet-name>
    <servlet-class>master.servlet.CashRiceAddServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CashRiceAddServe</servlet-name>
    <url-pattern>/CashRiceAddServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CidDelServe</display-name>
    <servlet-name>CidDelServe</servlet-name>
    <servlet-class>master.servlet.CidDelServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CidDelServe</servlet-name>
    <url-pattern>/CidDelServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustBillCheckServe</display-name>
    <servlet-name>CustBillCheckServe</servlet-name>
    <servlet-class>master.servlet.CustBillCheckServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustBillCheckServe</servlet-name>
    <url-pattern>/CustBillCheckServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustDelServe</display-name>
    <servlet-name>CustDelServe</servlet-name>
    <servlet-class>master.servlet.CustDelServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustDelServe</servlet-name>
    <url-pattern>/CustDelServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerAddServe</display-name>
    <servlet-name>CustomerAddServe</servlet-name>
    <servlet-class>master.servlet.CustomerAddServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerAddServe</servlet-name>
    <url-pattern>/CustomerAddServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerBillAddServe</display-name>
    <servlet-name>CustomerBillAddServe</servlet-name>
    <servlet-class>master.servlet.CustomerBillAddServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerBillAddServe</servlet-name>
    <url-pattern>/CustomerBillAddServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerRiceAddServe</display-name>
    <servlet-name>CustomerRiceAddServe</servlet-name>
    <servlet-class>master.servlet.CustomerRiceAddServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerRiceAddServe</servlet-name>
    <url-pattern>/CustomerRiceAddServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustOrderForm1CheckDateId</display-name>
    <servlet-name>CustOrderForm1CheckDateId</servlet-name>
    <servlet-class>master.servlet.CustOrderForm1CheckDateId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustOrderForm1CheckDateId</servlet-name>
    <url-pattern>/CustOrderForm1CheckDateId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustOrderForm2CheckRiceId</display-name>
    <servlet-name>CustOrderForm2CheckRiceId</servlet-name>
    <servlet-class>master.servlet.CustOrderForm2CheckRiceId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustOrderForm2CheckRiceId</servlet-name>
    <url-pattern>/CustOrderForm2CheckRiceId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExPaymentCheckDateCID</display-name>
    <servlet-name>ExPaymentCheckDateCID</servlet-name>
    <servlet-class>master.servlet.ExPaymentCheckDateCID</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExPaymentCheckDateCID</servlet-name>
    <url-pattern>/ExPaymentCheckDateCID</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExPaymentCheckDateMId</display-name>
    <servlet-name>ExPaymentCheckDateMId</servlet-name>
    <servlet-class>master.servlet.ExPaymentCheckDateMId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExPaymentCheckDateMId</servlet-name>
    <url-pattern>/ExPaymentCheckDateMId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExPaymentCust</display-name>
    <servlet-name>ExPaymentCust</servlet-name>
    <servlet-class>master.servlet.ExPaymentCust</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExPaymentCust</servlet-name>
    <url-pattern>/ExPaymentCust</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExPaymentMahajan</display-name>
    <servlet-name>ExPaymentMahajan</servlet-name>
    <servlet-class>master.servlet.ExPaymentMahajan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExPaymentMahajan</servlet-name>
    <url-pattern>/ExPaymentMahajan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogInCheck</display-name>
    <servlet-name>LogInCheck</servlet-name>
    <servlet-class>master.servlet.LogInCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogInCheck</servlet-name>
    <url-pattern>/LogInCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>master.servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MahajanAddServe</display-name>
    <servlet-name>MahajanAddServe</servlet-name>
    <servlet-class>master.servlet.MahajanAddServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MahajanAddServe</servlet-name>
    <url-pattern>/MahajanAddServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MahajanBillAddServe</display-name>
    <servlet-name>MahajanBillAddServe</servlet-name>
    <servlet-class>master.servlet.MahajanBillAddServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MahajanBillAddServe</servlet-name>
    <url-pattern>/MahajanBillAddServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MahajanBillCheckServe</display-name>
    <servlet-name>MahajanBillCheckServe</servlet-name>
    <servlet-class>master.servlet.MahajanBillCheckServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MahajanBillCheckServe</servlet-name>
    <url-pattern>/MahajanBillCheckServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MahajanDelServe</display-name>
    <servlet-name>MahajanDelServe</servlet-name>
    <servlet-class>master.servlet.MahajanDelServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MahajanDelServe</servlet-name>
    <url-pattern>/MahajanDelServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MahajanRiceAddServe</display-name>
    <servlet-name>MahajanRiceAddServe</servlet-name>
    <servlet-class>master.servlet.MahajanRiceAddServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MahajanRiceAddServe</servlet-name>
    <url-pattern>/MahajanRiceAddServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MidDelServe</display-name>
    <servlet-name>MidDelServe</servlet-name>
    <servlet-class>master.servlet.MidDelServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MidDelServe</servlet-name>
    <url-pattern>/MidDelServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RiceAddCheckRiceId</display-name>
    <servlet-name>RiceAddCheckRiceId</servlet-name>
    <servlet-class>master.servlet.RiceAddCheckRiceId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RiceAddCheckRiceId</servlet-name>
    <url-pattern>/RiceAddCheckRiceId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RiceAddServe</display-name>
    <servlet-name>RiceAddServe</servlet-name>
    <servlet-class>master.servlet.RiceAddServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RiceAddServe</servlet-name>
    <url-pattern>/RiceAddServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpServe</display-name>
    <servlet-name>SignUpServe</servlet-name>
    <servlet-class>master.servlet.SignUpServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServe</servlet-name>
    <url-pattern>/SignUpServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StockForm1CheckMidDate</display-name>
    <servlet-name>StockForm1CheckMidDate</servlet-name>
    <servlet-class>master.servlet.StockForm1CheckMidDate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StockForm1CheckMidDate</servlet-name>
    <url-pattern>/StockForm1CheckMidDate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StockForm2CheckRiceId</display-name>
    <servlet-name>StockForm2CheckRiceId</servlet-name>
    <servlet-class>master.servlet.StockForm2CheckRiceId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StockForm2CheckRiceId</servlet-name>
    <url-pattern>/StockForm2CheckRiceId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CashOilAddServe</display-name>
    <servlet-name>CashOilAddServe</servlet-name>
    <servlet-class>master.servlet.CashOilAddServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CashOilAddServe</servlet-name>
    <url-pattern>/CashOilAddServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CashOrderForm2CheckOilId</display-name>
    <servlet-name>CashOrderForm2CheckOilId</servlet-name>
    <servlet-class>master.servlet.CashOrderForm2CheckOilId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CashOrderForm2CheckOilId</servlet-name>
    <url-pattern>/CashOrderForm2CheckOilId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerOilAddServe</display-name>
    <servlet-name>CustomerOilAddServe</servlet-name>
    <servlet-class>master.servlet.CustomerOilAddServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerOilAddServe</servlet-name>
    <url-pattern>/CustomerOilAddServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustOrderForm2CheckOilId</display-name>
    <servlet-name>CustOrderForm2CheckOilId</servlet-name>
    <servlet-class>master.servlet.CustOrderForm2CheckOilId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustOrderForm2CheckOilId</servlet-name>
    <url-pattern>/CustOrderForm2CheckOilId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MahajanOilAddServe</display-name>
    <servlet-name>MahajanOilAddServe</servlet-name>
    <servlet-class>master.servlet.MahajanOilAddServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MahajanOilAddServe</servlet-name>
    <url-pattern>/MahajanOilAddServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OilAddServe</display-name>
    <servlet-name>OilAddServe</servlet-name>
    <servlet-class>master.servlet.OilAddServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OilAddServe</servlet-name>
    <url-pattern>/OilAddServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OilCashBillAddServe</display-name>
    <servlet-name>OilCashBillAddServe</servlet-name>
    <servlet-class>master.servlet.OilCashBillAddServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OilCashBillAddServe</servlet-name>
    <url-pattern>/OilCashBillAddServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OilCashDelBidDateCheck</display-name>
    <servlet-name>OilCashDelBidDateCheck</servlet-name>
    <servlet-class>master.servlet.OilCashDelBidDateCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OilCashDelBidDateCheck</servlet-name>
    <url-pattern>/OilCashDelBidDateCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OilCashDeleteServe</display-name>
    <servlet-name>OilCashDeleteServe</servlet-name>
    <servlet-class>master.servlet.OilCashDeleteServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OilCashDeleteServe</servlet-name>
    <url-pattern>/OilCashDeleteServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OilCashOrderForm1CheckDAteBId</display-name>
    <servlet-name>OilCashOrderForm1CheckDAteBId</servlet-name>
    <servlet-class>master.servlet.OilCashOrderForm1CheckDAteBId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OilCashOrderForm1CheckDAteBId</servlet-name>
    <url-pattern>/OilCashOrderForm1CheckDAteBId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OilCidDelServe</display-name>
    <servlet-name>OilCidDelServe</servlet-name>
    <servlet-class>master.servlet.OilCidDelServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OilCidDelServe</servlet-name>
    <url-pattern>/OilCidDelServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OilCustBillCheckServe</display-name>
    <servlet-name>OilCustBillCheckServe</servlet-name>
    <servlet-class>master.servlet.OilCustBillCheckServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OilCustBillCheckServe</servlet-name>
    <url-pattern>/OilCustBillCheckServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OilCustDelServe</display-name>
    <servlet-name>OilCustDelServe</servlet-name>
    <servlet-class>master.servlet.OilCustDelServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OilCustDelServe</servlet-name>
    <url-pattern>/OilCustDelServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OilCustomerAddServe</display-name>
    <servlet-name>OilCustomerAddServe</servlet-name>
    <servlet-class>master.servlet.OilCustomerAddServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OilCustomerAddServe</servlet-name>
    <url-pattern>/OilCustomerAddServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OilCustomerBillAddServe</display-name>
    <servlet-name>OilCustomerBillAddServe</servlet-name>
    <servlet-class>master.servlet.OilCustomerBillAddServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OilCustomerBillAddServe</servlet-name>
    <url-pattern>/OilCustomerBillAddServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OilCustOrderForm1CheckDateId</display-name>
    <servlet-name>OilCustOrderForm1CheckDateId</servlet-name>
    <servlet-class>master.servlet.OilCustOrderForm1CheckDateId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OilCustOrderForm1CheckDateId</servlet-name>
    <url-pattern>/OilCustOrderForm1CheckDateId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OilCustOrderForm2CheckOilId</display-name>
    <servlet-name>OilCustOrderForm2CheckOilId</servlet-name>
    <servlet-class>master.servlet.OilCustOrderForm2CheckOilId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OilCustOrderForm2CheckOilId</servlet-name>
    <url-pattern>/OilCustOrderForm2CheckOilId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OilExPaymentCheckDateCID</display-name>
    <servlet-name>OilExPaymentCheckDateCID</servlet-name>
    <servlet-class>master.servlet.OilExPaymentCheckDateCID</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OilExPaymentCheckDateCID</servlet-name>
    <url-pattern>/OilExPaymentCheckDateCID</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OilExPaymentCheckDateMId</display-name>
    <servlet-name>OilExPaymentCheckDateMId</servlet-name>
    <servlet-class>master.servlet.OilExPaymentCheckDateMId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OilExPaymentCheckDateMId</servlet-name>
    <url-pattern>/OilExPaymentCheckDateMId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OilExPaymentCust</display-name>
    <servlet-name>OilExPaymentCust</servlet-name>
    <servlet-class>master.servlet.OilExPaymentCust</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OilExPaymentCust</servlet-name>
    <url-pattern>/OilExPaymentCust</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OilExPaymentMahajan</display-name>
    <servlet-name>OilExPaymentMahajan</servlet-name>
    <servlet-class>master.servlet.OilExPaymentMahajan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OilExPaymentMahajan</servlet-name>
    <url-pattern>/OilExPaymentMahajan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OilMahajanAddServe</display-name>
    <servlet-name>OilMahajanAddServe</servlet-name>
    <servlet-class>master.servlet.OilMahajanAddServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OilMahajanAddServe</servlet-name>
    <url-pattern>/OilMahajanAddServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OilMahajanBillAddServe</display-name>
    <servlet-name>OilMahajanBillAddServe</servlet-name>
    <servlet-class>master.servlet.OilMahajanBillAddServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OilMahajanBillAddServe</servlet-name>
    <url-pattern>/OilMahajanBillAddServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OilMahajanBillCheckServe</display-name>
    <servlet-name>OilMahajanBillCheckServe</servlet-name>
    <servlet-class>master.servlet.OilMahajanBillCheckServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OilMahajanBillCheckServe</servlet-name>
    <url-pattern>/OilMahajanBillCheckServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OilMahajanDelServe</display-name>
    <servlet-name>OilMahajanDelServe</servlet-name>
    <servlet-class>master.servlet.OilMahajanDelServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OilMahajanDelServe</servlet-name>
    <url-pattern>/OilMahajanDelServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OilMidDelServe</display-name>
    <servlet-name>OilMidDelServe</servlet-name>
    <servlet-class>master.servlet.OilMidDelServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OilMidDelServe</servlet-name>
    <url-pattern>/OilMidDelServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OilSAddCheckOilId</display-name>
    <servlet-name>OilSAddCheckOilId</servlet-name>
    <servlet-class>master.servlet.OilSAddCheckOilId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OilSAddCheckOilId</servlet-name>
    <url-pattern>/OilSAddCheckOilId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OilStockForm1CheckMidDate</display-name>
    <servlet-name>OilStockForm1CheckMidDate</servlet-name>
    <servlet-class>master.servlet.OilStockForm1CheckMidDate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OilStockForm1CheckMidDate</servlet-name>
    <url-pattern>/OilStockForm1CheckMidDate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OilStockForm2CheckOilId</display-name>
    <servlet-name>OilStockForm2CheckOilId</servlet-name>
    <servlet-class>master.servlet.OilStockForm2CheckOilId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OilStockForm2CheckOilId</servlet-name>
    <url-pattern>/OilStockForm2CheckOilId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerDalAddServe</display-name>
    <servlet-name>CustomerDalAddServe</servlet-name>
    <servlet-class>master.servlet.CustomerDalAddServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerDalAddServe</servlet-name>
    <url-pattern>/CustomerDalAddServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustOrderForm2CheckDalId</display-name>
    <servlet-name>CustOrderForm2CheckDalId</servlet-name>
    <servlet-class>master.servlet.CustOrderForm2CheckDalId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustOrderForm2CheckDalId</servlet-name>
    <url-pattern>/CustOrderForm2CheckDalId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DalAddCheckDalId</display-name>
    <servlet-name>DalAddCheckDalId</servlet-name>
    <servlet-class>master.servlet.DalAddCheckDalId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DalAddCheckDalId</servlet-name>
    <url-pattern>/DalAddCheckDalId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DalAddServe</display-name>
    <servlet-name>DalAddServe</servlet-name>
    <servlet-class>master.servlet.DalAddServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DalAddServe</servlet-name>
    <url-pattern>/DalAddServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DalCustomerAddServe</display-name>
    <servlet-name>DalCustomerAddServe</servlet-name>
    <servlet-class>master.servlet.DalCustomerAddServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DalCustomerAddServe</servlet-name>
    <url-pattern>/DalCustomerAddServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DalCustOrderForm1CheckDateId</display-name>
    <servlet-name>DalCustOrderForm1CheckDateId</servlet-name>
    <servlet-class>master.servlet.DalCustOrderForm1CheckDateId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DalCustOrderForm1CheckDateId</servlet-name>
    <url-pattern>/DalCustOrderForm1CheckDateId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DalExPaymentCheckDateMId</display-name>
    <servlet-name>DalExPaymentCheckDateMId</servlet-name>
    <servlet-class>master.servlet.DalExPaymentCheckDateMId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DalExPaymentCheckDateMId</servlet-name>
    <url-pattern>/DalExPaymentCheckDateMId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DalExPaymentMahajan</display-name>
    <servlet-name>DalExPaymentMahajan</servlet-name>
    <servlet-class>master.servlet.DalExPaymentMahajan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DalExPaymentMahajan</servlet-name>
    <url-pattern>/DalExPaymentMahajan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DalMahajanAddServe</display-name>
    <servlet-name>DalMahajanAddServe</servlet-name>
    <servlet-class>master.servlet.DalMahajanAddServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DalMahajanAddServe</servlet-name>
    <url-pattern>/DalMahajanAddServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DalMahajanBillAddServe</display-name>
    <servlet-name>DalMahajanBillAddServe</servlet-name>
    <servlet-class>master.servlet.DalMahajanBillAddServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DalMahajanBillAddServe</servlet-name>
    <url-pattern>/DalMahajanBillAddServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DalMahajanBillCheckServe</display-name>
    <servlet-name>DalMahajanBillCheckServe</servlet-name>
    <servlet-class>master.servlet.DalMahajanBillCheckServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DalMahajanBillCheckServe</servlet-name>
    <url-pattern>/DalMahajanBillCheckServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DalMahajanDelServe</display-name>
    <servlet-name>DalMahajanDelServe</servlet-name>
    <servlet-class>master.servlet.DalMahajanDelServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DalMahajanDelServe</servlet-name>
    <url-pattern>/DalMahajanDelServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DalMidDelServe</display-name>
    <servlet-name>DalMidDelServe</servlet-name>
    <servlet-class>master.servlet.DalMidDelServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DalMidDelServe</servlet-name>
    <url-pattern>/DalMidDelServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DalStockForm1CheckMidDate</display-name>
    <servlet-name>DalStockForm1CheckMidDate</servlet-name>
    <servlet-class>master.servlet.DalStockForm1CheckMidDate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DalStockForm1CheckMidDate</servlet-name>
    <url-pattern>/DalStockForm1CheckMidDate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MahajanDalAddServe</display-name>
    <servlet-name>MahajanDalAddServe</servlet-name>
    <servlet-class>master.servlet.MahajanDalAddServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MahajanDalAddServe</servlet-name>
    <url-pattern>/MahajanDalAddServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StockForm2CheckDalId</display-name>
    <servlet-name>StockForm2CheckDalId</servlet-name>
    <servlet-class>master.servlet.StockForm2CheckDalId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StockForm2CheckDalId</servlet-name>
    <url-pattern>/StockForm2CheckDalId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DalCustBillCheckServe</display-name>
    <servlet-name>DalCustBillCheckServe</servlet-name>
    <servlet-class>master.servlet.DalCustBillCheckServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DalCustBillCheckServe</servlet-name>
    <url-pattern>/DalCustBillCheckServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DalCustDelServe</display-name>
    <servlet-name>DalCustDelServe</servlet-name>
    <servlet-class>master.servlet.DalCustDelServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DalCustDelServe</servlet-name>
    <url-pattern>/DalCustDelServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DalCustomerBillAddServe</display-name>
    <servlet-name>DalCustomerBillAddServe</servlet-name>
    <servlet-class>master.servlet.DalCustomerBillAddServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DalCustomerBillAddServe</servlet-name>
    <url-pattern>/DalCustomerBillAddServe</url-pattern>
  </servlet-mapping>
</web-app>